<h1><%= user.escape("fname") %> <%= user.escape("lname") %></h1>
Title: <%= user.escape("title") %><br>
email: <%= user.escape("email") %><br>

<a href="#edit/info" class="edit-user-button">Edit Personal Info<a>
