<div class="bar-light">
  <form action="/session" method="POST" class="login-from-bar">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <button>Sign In</button>
    <label> Email:
      <input type="text" name="email">
    </label>
    <label>Password:
      <input type="password" name="password">
    </label>
  </form>


  <script>
    $("form").on("submit", function () {
      $("button").prop("disabled", true)
    })
  </script>
</div>
