<div class="mini-bar group">
  <div class="mini-bar-items group">
    <a href="#" class="item">Home</a>
    <a href="#profile/<%=current_user.id%>" class="item">My Profile</a>
      <a class="item" href="#connections">Connections</a>
  </div>
</div>
