<div class="mini-bar group">
  <a href="#" class="item">Home</a>
  <a href="#profile/<%=current_user.id%>" class="item">My Profile</a>

  <div class="connect-big item">
    <a>Connections</a>
    <ul class="connection-list">
      <% if current_user.connections.length == 0 %>
          <li>You have no connections.</li>
        <% else %>
          <% current_user.connections.each do |connection| %>

            <li>
              <a href="/users/<%=connection.id%>"><%=connection.fname%></a>
              is a connection.
            </li>

          <%end%>
        <% end %>
    </ul>
  </div>


</div>
