<div class="mini-bar group">
  <div class="mini-bar-items group">
    <a href="#" class="item">Home</a>
    <a href="#profile/<%=current_user.id%>" class="item">My Profile</a>

    <div class="connect-big item">
      <a>Connections</a>
      
    </div>
  </div>
</div>
