<form action="">

  <input type="text" class="search-input">
  <a href="#search">
  <div class="search-button"><img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11742684_10153476125402095_1847497660339072125_n.jpg?oh=3b62867ec22630512896bdc8e9e7e5d8&oe=5653F307" class="search-button"></div></a>

</form>
