<form class="user-search-form">

    <input type="text" class="search-input">
    <button class="user-search-button"><img src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11742684_10153476125402095_1847497660339072125_n.jpg?oh=3b62867ec22630512896bdc8e9e7e5d8&oe=5653F307"></button>

</form>
