<div class="main-bar">
      <img class="logo" src="assets/logo.jpeg">
    <% if logged_in? %>
      <div class="logged-in-crap">
        <%=render "toolbar/logout" %>
      </div>
    <% else %>
      <%= render "toolbar/login" %>
    <% end %>
</div>
