<% if (logged_in?) %>
  <div class="home-container" current-id="<%=current_user.id%>">
<% else %>
  <div class="home-container" current-id="0">
<% end %>
</div>

<% if current_user.sample && current_user.connections.length == 0 %>

  <script>
    $( function () {
      window.LynxIn.initialize();
      alert("HI GUEST! All data saved to this account will be deleted upon log out.");
    })
  </script>
<%else%>
  <script>
    $(window.LynxIn.initialize)
  </script>
<% end %>
