<% ensure_loggin %>

<div class="home-container">
  <div class="home-info-panel">Default info panel text</div>
  <div class="home-feed-panel">Default feed panel text</div>
  <div class="others-panel">Default others panel text</div>
</div>

<script>
  $(window.Home.initialize)
</script>
