<% ensure_loggin %>

<div class="home-container">
  <div class="home-info-panel">Default info panel text</div>
  <div class="home-feed-panel">Default feed panel text</div>
</div>

<script>
  $(window.LynxIn.initialize)
</script>
