<% if (logged_in?) %>
  <div class="home-container" current-id="<%=current_user.id%>">
<% else %>
  <div class="home-container" current-id="0">
<% end %>

</div>

<script>
  $(window.LynxIn.initialize)
</script>
