<% ensure_loggin %>

<h1>User Home Page</h1>

<div class="home-info-panel">Default info panel text</div>
<div class="home-feed-panel">Default feed panel text</div>
<div class="home-connections-panel">Default connect panel text</div>

<script>
  $(window.Home.initialize)
</script>
