<h1><%=@user.fname%>'s Profile Page </h1>

<div class="profile-container" user-id="<%=@user.id%>" current-id="<%=current_user.id%>">
  <div class="profile-info">Info default text</div>
  <div class="profile-experiences">Experiences default text</div>
  <div class="profile-education">Education default text</div>
</div>

<script>
  $(window.Profile.initialize)
</script>
