<h3><%=user.escape("fname")%>'s connections:</h3>

<% if (connections.length === 0){ %>

  <%=user.escape("fname")%> has no connections.
  <%} else {%>

  <% connections.forEach(function (connection) {%>

      <div class="connections-list-item">
        <a href="/users/<%=connection.id%>"><%= connection.fname + " " + connection.lname %></a>
      </div>

  <%})%>

<%}%>
