<form class='new-education-form' data-id="<%=education.id%>">
  <b>School</b> * <br> <input type='text' name='school' value="<%=education.title%>"><br><br>

  <b>Field of Study</b><br> <input type='text' name='field' value="<%=education.employer%>"><br><br>

  <b>Guaduation Year</b> <br><input type='year' name='graduation_year' value="<%=education.start_date%>"><br><br>

  <button class="esave-button">Save</button>  <button class="ecancel-button">Cancel</button>

</form>
