.new-experience-form {
  background: #f4f4f4;
  border: 1px solid lightgray;
  padding: 20px;
}

.new-experience-form input {
  height: 20px;
  width: 100%;
}

.new-experience-form textarea {
  width: 100%;
  height: 100px;
}

.edit-experience-form {
  background: #f4f4f4;
  border: 1px solid lightgray;
  padding: 20px;
}

.edit-experience-form input {
  height: 20px;
  width: 100%;
}

.edit-experience-form textarea {
  width: 100%;
  height: 100px;
}

.new-education-form {
  background: #f4f4f4;
  border: 1px solid lightgray;
  padding: 20px;
}

.new-education-form input {
  height: 20px;
  width: 100%;
}

.edit-education-form {
  background: #f4f4f4;
  border: 1px solid lightgray;
  padding: 20px;
}

.edit-education-form input {
  height: 20px;
  width: 100%;
}

.profile-education .esave-button, .eeditsave-button {
  color: white;
  font-size: 15px;
  border-radius: 5px;
  background: #069;
  height: 40px;
  width: 70px;
}

.profile-education .ecancel-button, .eeditcancel-button {
  color: gray;
  font-size: 15px;
  border-radius: 5px;
  background: #f2f2f2;
  height: 40px;
  width: 70px;
}

.profile-experiences .ex-edit-save {
  color: white;
  font-size: 15px;
  border-radius: 5px;
  background: #069;
  height: 40px;
  width: 70px;
}

.profile-experiences .ex-edit-cancel {
  color: gray;
  font-size: 15px;
  border-radius: 5px;
  background: #f2f2f2;
  height: 40px;
  width: 70px;
}

.user-form {
  background: #f4f4f4;
  border: 1px solid lightgray;
  padding: 20px;
}

.user-form input {
  height: 20px;
  width: 100%;
}

.user-form textarea {
  width: 100%;
  height: 100px;
  margin-left: -2px;
}

.user-form .submit-edit {
  color: white;
  font-size: 15px;
  border-radius: 5px;
  background: #069;
  height: 40px;
  width: 70px;
}

.user-form .submit-edit:hover {
  cursor: pointer;
  border: 2px solid lightgray;
}

.new-ex-form-container {
  overflow: hidden;
  height: 0px;
  transition: 0.75s;
}

.drop {
  height: 475px;
  transition: 0.75s;
}

.new-ed-form-container {
  overflow: hidden;
  height: 0px;
  transition: 0.75s
}

.drop-ed {
  height: 280px;
  transition: 0.75s;
}
