.home-info-panel {
  padding: 10px;
  background: white;
  box-shadow: 2px 2px 2px grey;
  margin-top: 20px;
  width: 650px;
  height: 140px;
}

.home-feed-panel {
  padding: 10px;
  width: 650px;
  background: white;
  box-shadow: 2px 2px 2px grey;
  margin-top: 20px;
}

.home-container {
  padding: 25px;
  width: 1000px;
  margin: auto;
}

.home-user-info-container {
  float: left;
  width: 345px;
  height: 130px;
  padding-left: 20px;
  border-right: 1px solid lightgray;
}

.edit-button-container {
  border-bottom: solid 1px lightgray;
  padding-top: 20px;
  height: 50px;
}

.home-connection-number-container {
  padding-top: 20px;
  height: 50px;
}

.edit-and-connect-container{
  text-align: center;
  float: left;
  width: 150px;
}

.home-profile-picture{
  float: left;
  width: 100px;
  height: 120px;
  border: 1px solid blue;
  margin-right: 20px;
}
