.home-info-panel {
  padding: 10px;
  background: white;
  border: solid 5px black;
  margin-top: 20px;
}

.home-feed-panel {
  padding: 10px;
  background: white;
  border: solid 4px red;
  margin-top: 20px;
}

.home-container {
  padding: 25px;
}
