.home-info-panel {
  padding: 10px;
  border: solid 5px black;
}

.home-feed-panel {
  padding: 10px;
  border: solid 4px red;
}

.others-panel {
  padding: 10px;
  border: solid lightblue 5px;
}

.home-container {
  padding: 25px;
}
