.profile-container {
  padding: 25px;
}

.profile-info {
  padding: 10px;
  width: 700px;
  background: white;
  border-bottom: solid 4px brown;
  border-right: solid 4px brown;
  border-radius: 5px;
  margin-top: 40px;
}

.profile-profile-picture{
  float: left;
  width: 100px;
  height: 120px;
  border: 1px solid blue;
  margin-right: 20px;
}

.profile-user-info-container{
  float: left;
  width: 400px;
  height: 125px;
  padding-left: 20px;
}

.profile-experiences {
  font-family: sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  border-bottom: solid gray 2px;
  border-right: solid gray 2px;
  border-radius: 5px;
  margin-top: 40px;
  width: 700px;
}

.profile-experiences .save-button {
  color: white;
  font-size: 15px;
  border-radius: 5px;
  background: #069;
  height: 40px;
  width: 70px;
}

.profile-experiences .cancel-button {
  color: gray;
  font-size: 15px;
  border-radius: 5px;
  background: #f2f2f2;
  height: 40px;
  width: 70px;
}

.profile-experiences .delete-experience-button {
  color: white;
  font-size: 15px;
  border-radius: 5px;
  background: #069;
  height: 30px;
  width: 80px;
}

.profile-experiences .edit-experience-button {
  font-size: 15px;
  border-radius: 5px;
  background: #f6e312;
  height: 30px;
  width: 60px;
}

.profile-experiences .delete-experience-button:hover {
  cursor: pointer;
  background: #1b5480
}

.profile-experiences .edit-experience-button:hover {
  cursor: pointer;
  background: #e9ac1a;
}

.profile-experiences .cancel-button:hover {
  cursor: pointer;
  background: white;
}

.profile-experiences .save-button:hover {
  cursor: pointer;
  background: #1b5480;
}

.profile-education {
  padding: 10px;
  width: 700px;
  background: white;
  border: solid pink 1px;
  margin-top: 40px;
}

.profile-main {
  float: left;
}

.profile-right{
  float: left;
  margin-left: 20px;
}

.connections {
  text-align: center;
  float: right;
  margin-top: 100px;
}

.connections-panel {
  padding: 10px;
  width: 200px;
  background: white;
  border: solid lightblue 5px;
  margin-top: 40px;
}

.experience-panel-item {
  border: 1px solid black;
  width: 600px;
  margin: auto;
  margin-bottom: 10px;
  padding: 30px;
  border-radius: 20px;
}

.add-experience-button {
  color: gray;
  width: 720px;
  margin-left: -10px;
  height: 30px;
  border: 1px black solid;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  margin: none;
  padding-top: 10px;
  background: lightgray;
}

.add-experience-button:hover {
  color: white;
  cursor: pointer;
  background: gray;
}

.new-experience-form {
  margin: 10px;
}
