html, body, ul, li {
	padding: 0;
	margin: 0;
	border: 0;
	font: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

ul {
	list-style: none;
}

.logo {
	width: 100px;
	height: 50px;
	background: gray;
	border: red solid 5px;
}

.main-bar {
	height: 60px;
	border: solid 5px blue;
}

.mini-bar {
	border: 5px solid pink;
	height: 20px;
}

.mini-bar a {
	float: left;
	margin-left: 30px;
}

.logged-in-crap {
	float: right;
  width: 200px;
  height: 50px;
  border: solid 5px green;
}

.bar-right {
	position: relative;
	float: right;
  width: 480px;
  height: 50px;
  border: solid 5px green;
}

.logout-button{
	float:right;
}
