html, body, ul, li, div {
	padding: 0;
	margin: none;
	border: 0;
	font: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

ul {
	list-style: none;
}

body {
	background: lightgray;
}

.root-container{
	margin: auto;
	width: 1000px;
	height: 600px;
	border-radius: 10px;
	background-image: url(mainkittens.jpg);
}

.main-header{
	text-align: center;
	width: 1000px;
}

.newUserForm input {
	margin: 10px;
}


.form-container{
	font-style: oblique;
	float: left;
	text-align: right;
	margin-top: 100px;
	width: 400px;
}
