.logo {
	width: 70px;
	height: 30px;
	background: lightblue;
	border-radius: 5px;
	border: #007799 solid 5px;
	float: left;
}

.search {
	float: left;
	margin-left: 200px;
	margin-top: 8px;
}

.search-input {
	width: 300px;
	height: 20px;
	border-radius: 5px;
}

.search-button {
	width: 30px;
	height: 27px;
	margin-left: 5px;
	float: right;
}

.main-bar {
	z-index: 1;
	position:fixed;
	width: 100%;
  background-image: -webkit-linear-gradient(top, dimgrey 0%, #3f3f3f 100%);
	border-bottom: solid 1px black;
}

.mini-bar {
	background: #333;
	height: 25px;
	margin-top: -3px;
}

.bar-items-container {
	width: 1000px;
	height: 44px;
	margin: auto;
}

.mini-bar-items {
	width: 1000px;
	margin: auto;
}

.mini-bar .item {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 85%;
	float: left;
	color: lightgray;
	padding: 5px;
	margin-left: 20px;
}

.mini-bar .item:hover{
	color: lightblue;
}

.logged-in-crap {
	float: right;
  width: 200px;
  height: 50px;
  border: solid 5px green;
}

.bar-right {
	position: relative;
	float: right;
  width: 180px;
  height: 20px;
  padding: 10px;
}

.bar-light {
	position: relative;
	float: right;
  width: 80px;
  height: 30px;
  padding: 10px;
	margin-top: 5px;
}

.bar-light button {
	background: lightgreen;
	font-size: 90%;
	font-weight: bold;
}

.bar-light button:hover {
	cursor: pointer;
}

.bar-light > form {
	height: 27px;
}

.logout-button{
	float:right;
}

.icon {
	background: transparent;
  position: relative;
  float: left;
  top: -5px;
  width: 30px;
  height: 30px;
  margin-left: 70px;
}

.list {
	overflow: auto;
	color: black;
	height: 0px;
  width: 250px;
  position: absolute;
  top: 29px;
	transition: 0.75s;
}
.list li {
  border: 1px solid black;
	padding: 5px;
  height: 70px;
	border-radius: 5px;
	background: lightgray;
}

.list li:hover {
  background: gray;
}


.big:hover .list {
	transition: 0.5s;
	height: 170px;
}

.big:hover .icon {
  border: 3px solid lightgray;
}

.big {
  position: relative;
}

.notification-emblum {
	position: absolute;
	background: red;
	left: 15px;
}

.emblum-left {
	transform: rotate(-20deg);
	transition: 0.25s;
}

.emblum-right {
	transform: rotate(20deg);
	transition: 0.25s;
}

.hide {
	display: none;
}

.connect-big:hover .connection-list{
	display: block;
}

.connection-list {
	display: none;
	position: absolute;
	margin-top: -30px;
	margin-left: -20px;
	width: 300px;
}

.connection-list li {
	color: black;
	height: 50px;
	border: 2px solid green;
	background: lightgray;
	position: relative;
	top: 30px;
}

.connection-list li:hover {
	background: white;
}

.logout-button {
	background: lightblue;
}

.logout-button:hover {
	font-weight: bold;
	cursor: pointer;
}

.hidden-login {
	position: absolute;
	display: none;
	width: 4000px;
	height: 2000px;
	background: black;
	opacity: 0.5;
	left: -400px;
}

.login-from-bar {
	padding: 20px;
	z-index: 2;
	position: absolute;
	display: none;
	top: 200px;
	margin-left: 370px;
	width: 300px;
	height: 230px;
	background: white;
	border: solid black 2px;
	border-radius: 10px;
	opacity: 1;
}

.show-form {
	display: block;
}

.login-from-bar input {
	width: 90%;
	font-size: 25px;
	height: 30px;
	margin: 20px;
}

.login-from-bar button {
	width: 75px;
	height: 40px;
	font-size: 15px;
	margin: auto;
	background: lightgreen;
	margin-left: 70px;
	margin-right: 10px;
}

.login-from-bar button:hover {
	cursor: pointer;
}
