<h2> Search Results </h2>
<div class="search-list">

  <% if (searches.length === 0) {%>
    No results to show.
  <%} else {%>

    <% searches.forEach( function (search){ %>
      <div class="search-result group">
        <img src="<%=search.img_url%>" class="small-profile-picture">
        <%= search.escape('fname') + ' ' + search.escape('lname') %><br>
        <%= search.escape('title') %>
      </div>
    <%})%>
  <%}%>
</div>
